*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: moccasin;
      font-family: 'Times New Roman', Times, serif;
       overflow-x: hidden; } 


/**imagen**/
.imagen{
    background: url(https://www.somosmamas.com.ar/wp-content/uploads/2022/04/animales-de-la-selva-peruana-jaguar.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: soft-light;

    position: relative;
    width: 100%;
    height: 100vh;
}

.imagen .welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .imagen .welcome h4{
        color: #fff;
        font-weight: 400;
        font-size: 60px;
        text-align: center;
    }

    .imagen .welcome > h2{ margin-top: 50px;}
    .imagen .welcome > h2 a{
        text-decoration: none;
        color: #fff;
        font-size: 50px;
        font-weight: 400;
    }
    h4{transform: scale(0.9) skew(-25deg) translate(2px,-1px);
        -webkit-transform: scale(0.9) skew(-25deg) translate(2px,-1px);
        -moz-transform: scale(0.9) skew(-25deg) translate(2px,-1px);

    }



/**sobre nosotros**/
.aboutus{width: 100%;}
.aboutus .info{ 
    width: 100%;
    margin-top: 100px;
}
.aboutus .info h3{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.aboutus .info p{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color: #000;
    font-size: 20px;
    line-height: 40px;
}
.aboutus .info hr{
    width: 90%;
    border: none;
    height: 2px;
    background: #fff;
    margin: auto;
}

/**galeria**/
.secciongaleria{
    width: 100%;
}
.contenidogaleria{
    width: 90%;
    margin: 30px auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 5px;
}
.contenidogaleria .img-card{ 
    width: 100%;
    height: 100%;
} 
.contenidogaleria .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

/**footer**/
footer{
    width: 100%;
    height: 60px;
    margin-top: 100px;
    background-color: #000;
}

footer .foot p{ 
    text-align: center;
    line-height: 60px;
    color: #fff;
}

.mapa{
    margin-top: 10%;
    margin-bottom: 50px;
    width: 100%;
    height: 45vh;
}

/**formmulario_contacto**/

.menu_contacto{
    background-color: moccasin;
    background-attachment: fixed;
    margin: 0;
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 150px;
    border-radius: 10px;
}

h2{
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.boton{
    background: #31384a;
    color: #fff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

/**lugares**/

.texto{ 
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.lugares{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin: 80px 50px;
}