@media screen and (max-width:760px){


/**imagen**/

.imagen .welcome{
    width: 80%;
    margin: auto;
}

.imagen .welcome h4{
    font-size: 30px;
    line-height: 45px;
}

.imagen .welcome h2 > a{
    font-size: 40px;
}

/**sobre nosotros**/
.aboutus .info h3{
    font-size: 35px;
}
.aboutus .info p{
    font-size: 18px;
}
/**galeria**/
.contenidogaleria{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 350px);
    grid-gap: 20px;
}
/**mapa**/
.mapa{
    font-size: 35px;
    width: 100%;
    margin: auto;
 }
}